<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="Chris Muntean" />
        <title>Chris Muntean | Photographer</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
        <style>

            @media (max-width: 768px) {
                .border-end {
                    border: none !important;
                }
            }

        </style>
    </head>
    <body>

        <div id="nav"></div>

        <div class="container flex-grow-1 d-flex justify-content-center align-items-center">

            <div class="card my-5 mx-3" style="width: 75rem;">
                <img src="https://lightroom.adobe.com/v2c/spaces/0c468d193c5f4e7090ef3d11becfef9f/assets/b497080f30d3e01f9b5605cda242432f/revisions/be47d006ae36459fbd3a928aba8ddd6e/renditions/cf4006dca5d9395260c25fb25e57b626" class="card-img-top" alt="...">
                <div class="card-body p-0">
                    <div class="row g-0">

                        <div class="col-md-8 p-4 border-end">

                            <h1 class="card-title">Love Mansion <span class="badge text-bg-success fw-bolder py-2 ms-3">$3</span></h1>

                            <hr width="100%" class="my-4">
                            
                            <h3 class="card-text fw-normal">
                                Topfloor & DevsBevs took over our favorite mansion for Love Mansion, a day party filled with nothing but good vibes. With an electric energy in the air, guests danced, swam, and soaked up the sun, making unforgettable memories in the perfect Valentine’s weekend setting. From the poolside fun to the dance floor heat, this event had it all—romance, energy, and pure celebration.
                            </h3>
                            
                        </div>
                    
                        <div class="col-md-4 px-4">

                            <div class="container my-4">
                                <button class="btn btn-primary w-100">Pay</button>

                                <div class="border border-2 rounded-2 p-3 text-center w-100 my-3 fw-bold font-monospace">
                                    Hosted by Topfloor & DevsBevs
                                </div>

                                <p class="text-center fw-bold">No refunds allowed</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
              
        </div>

        <!-- footer dynamically loaded via js -->
        <div id="footer"></div>
        
        <script src="/js/dynamic-loader.js"></script>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Firebase auth JS -->
        <script type="module" src="/js/auth-session.js"></script>
    </body>
</html>